* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

.header {
    background: black;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background: black;
    padding: 20px;
    border-right: 2px solid black;
    color: white;
    
}

.content {
    flex: 1;
    padding: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3 {
    margin: 10px 0;
}

.price {
    color: darkgreen;
    font-weight: bold;
    font-size: 18px;
}
